.contenedor_principal {
    background-color: white
}

.cabecera{
    background-color:#99CC99;
    min-height:100px;
    color: black;
}

/*
.cabecera h1{
    float: left;
    margin-left: 50%
}
*/

#logo { 
    width: 150px;
}
.menu {
    display: flex;
    align-items:flex-start;
}
.menu ul li{
    list-style: none; 
    display: inline-block;

}

.nav-link {
    color: black;
    font-weight: bold
}

.nav-link:hover {
    color: #999999;
}
.banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
} 
.banner {
    width: 100%
}

.mini_banners {
    width: 100%;
}
.mini_banner1 {
    width: 200px;
    margin: 10px 10px;

}

.mini_banner1 img{
    width: 90% 
}

.pie-de-pagina{
    background-color:#99CC99;
    min-height:100px;
    color: black;
} 

.derechos {
    min-height: 100px; 
    margin: 10px 100px;
    display:inline-block;
    width: 400px
}

.direccion {
    min-height: 100px; 
    margin: 10px 100px;
    display:inline-block;
    width: 400px
}